body {
    margin: 0;
}

.contenedor {
    width: 100%;
    height: 100%;
    background-color: lightgoldenrodyellow;
}

.titulo {
    text-align: center;
    margin: 0;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

.whatsapp-button {
    background-color: #25D366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}