body {
    margin: 0;
}

header {
    margin-bottom: 16px;
    background: url(https://img.freepik.com/foto-gratis/primer-plano-deliciosa-pizza_23-2150852113.jpg) no-repeat center center fixed;
    color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ol {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 8px;
}

a {
    font-weight: 600;
    font-weight: 600;
    text-decoration: none;
}

.bajada-titulo {
    text-align: center;
    margin: 0;
    padding-bottom: 8px;
}

.contenedor {
    width: 100%;
    height: 100%;
    background-color: lightgoldenrodyellow;
}

.titulo {
    text-align: center;
    margin: 0;
}

.section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

    @media (max-height: 650px) {
        flex-direction: column;
    }
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

.whatsapp-button {
    background-color: #25D366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}